.parent-form {
  width: 365px;
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.parent-form .form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  border-radius: 5px;
}

.form input {
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: inherit;
}

.form .search-icon {
  padding: 0.7rem;
  cursor: pointer;
}

.submit-btn {
  border: none;
  outline: none;
  background-color: inherit;
  border-radius: 5px;
}

::placeholder {
  font-size: 12px;
  color: black;
  padding: 5px;
}
