select {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  font-size: 14px;
}

select:focus {
  border: none;
  outline: none;
}
